### Q1. Create a list of five integers and print it.

In [ ]:
list = [1, 2, 3, 4, 5]
print(list)

### Q2. Write a program to find the length of a list.

In [ ]:
list = [6, 7, 8, 9, 10]
length = len(list)
print("The length of the list is:", length)

### Q3. Create a tuple with three elements and print the second item.

In [ ]:
tuple = (10, 20, 30)
print("The second item is:",tuple[1])

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [ ]:
dict = {"name": "Heba", "age": 21, "country": "Egypt"}
print("Keys:", dict.keys())

### Q5. Write a program to convert a list into a set.

In [ ]:
list = [1, 2, 2, 3, 3, 4, 5]
myset = set(list)
print("Set:", myset)

### Q6. Create a string and print its first and last characters.

In [ ]:
mystring = "heba"
print("First character:", mystring[0])
print("Last character:", mystring[-1])

### Q7. Take input from the user and print it.

In [ ]:
input = input("my name is Heba ")
print("my name is Heba", input)

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
num1 = int(input(100))
num2 = int(input(200))
sum= num1 + num2
print("The sum is:", sum)

### Q9. Use `type()` function to check the data type of a variable.

In [ ]:
x = 555
print("Type of x:", type(x))

### Q10. Create a boolean variable and print it.

In [ ]:
student = True
print("Boolean variable:", student)

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [ ]:
num = int(input(100 ))

if num > 0:
    print(5)
elif num < 0:
    print(-1)
else:
    print(0)

### Q12. Write a program to check if a number is even or odd.

In [ ]:
num = int(input(100))

if num % 2 == 0:
    print(4)
else:
    print(1)

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [ ]:
for i in range(3):
    print("Heba")

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [ ]:
for i in range(1, 11):
    print(i)

### Q15. Use a `for` loop to iterate over a list and print each element.

In [ ]:
list = [10, 20, 30, 40, 50]

for item in list:
    print(item)

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
total = 0
for i in range(1, 101):
    total += i
print("The sum is:", total)

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

### Q18. Write a `for` loop to print each character in a string.

In [ ]:
text = "AI"

for char in text:
    print(char)

### Q19. Use a `for` loop to print all values in a dictionary.

In [ ]:
my_dict = {"name": "Heba", "age": 21, "country": "Egypt"}

for value in my_dict.values():
    print(value)

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:
num = 4
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial:", factorial)

### Q21. Create a list of your 5 favorite fruits.

In [ ]:
favorite_fruits = ["Mango", "Strawberry", "Banana", "Apple", "Pineapple"]

print("My 5 favorite fruits are:")
for fruit in favorite_fruits:
    print("-", fruit)

### Q22. Add a new fruit to your list of favorite fruits.

In [ ]:
favorite_fruits = ["Mango", "Strawberry", "Banana", "Apple", "Pineapple"]
favorite_fruits.append("Grapes")

print("My favorite fruits are now:")
for fruit in favorite_fruits:
    print("-", fruit)

### Q23. Remove the second item from a list.

In [ ]:
favorite_fruits = ["Mango", "Strawberry", "Banana", "Apple", "Pineapple"]

del favorite_fruits[1]

print("Fruits after removing the second item:")
for fruit in favorite_fruits:
    print("-", fruit)

### Q24. Sort a list of numbers in descending order.

In [ ]:
numbers = [10, 15, 20, 15,17]
numbers.sort(reverse=True)
print("Sorted list (descending):", numbers)

### Q25. Find the maximum and minimum values in a list.

In [ ]:
numbers = [12, 17, 5, 13, 18]

maximum = max(numbers)
minimum = min(numbers)
print("Maximum number:", maximum)
print("Minimum number:", minimum)

### Q26. Count how many times a value appears in a list.

In [ ]:
fruits = ["Apple", "Banana", "Apple", "Mango", "Apple"]

count_apples = fruits.count("Apple")

print("Apple appears:", count_apples, "times")

### Q27. Check if a specific value exists in a list.

In [ ]:
if "Orange" in fruits:
    print("Orange is in the list.")
else:
    print("Orange is not in the list.")

### Q28. Reverse a list without using reverse() function.

In [ ]:
my_list = [1, 2, 3, 4, 5]
# عكس باستخدام slicing
print(my_list[::-1])

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
copy_list = [item for item in original]

### Q30. Use slicing to get the first 3 items of a list.

### Q31. Create a tuple with 4 elements and print its length.

### Q32. Access the last element of a tuple.

### Q33. Convert a tuple into a list.

### Q34. Convert a list into a tuple.

### Q35. Check if a value exists in a tuple.

### Q36. Concatenate two tuples.

### Q37. Repeat a tuple 3 times.

### Q38. Find the index of an element in a tuple.

### Q39. Use tuple unpacking to assign values to variables.

### Q40. Create a nested list and access an inner element.

### Q41. Create a set of 5 unique colors.

### Q42. Add a new color to the set.

### Q43. Remove an item from the set using `remove()`.

### Q44. Use `discard()` to remove an item that may or may not exist.

### Q45. Create a set from a list with duplicate values.

### Q46. Find the union of two sets.

### Q47. Find the intersection of two sets.

### Q48. Find the difference between two sets.

### Q49. Check if a set is a subset of another set.

### Q50. Check if two sets are disjoint.

### Q51. Create a dictionary with 3 items: name, age, and city.

### Q52. Add a new key-value pair to the dictionary.

### Q53. Update the value of an existing key in the dictionary.

### Q54. Remove a key from the dictionary using `pop()`.

### Q55. Check if a key exists in the dictionary.

### Q56. Loop through a dictionary and print all keys and values.

### Q57. Get all keys from a dictionary using `keys()`.

### Q58. Get all values from a dictionary using `values()`.

### Q59. Get all key-value pairs using `items()`.

### Q60. Create a dictionary from two lists: one for keys and one for values.