### Q1. Create a list of five integers and print it.

In [1]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [ ]:
list = [6, 7, 8, 9, 10]
length = len(list)
print("The length of the list is:", length)

The length of the list is: 5

### Q3. Create a tuple with three elements and print the second item.

In [ ]:
tuple = (10, 20, 30)
print("The second item is:",tuple[1])

The second item is: 20

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [ ]:
dict = {"name": "Heba", "age": 21, "country": "Egypt"}
print("Keys:", dict.keys())

Keys: dict_keys(['name', 'age', 'country'])

### Q5. Write a program to convert a list into a set.

In [ ]:
list = [1, 2, 2, 3, 3, 4, 5]
myset = set(list)
print("Set:", myset)

Set: {1, 2, 3, 4, 5}

### Q6. Create a string and print its first and last characters.

In [ ]:
mystring = "heba"
print("First character:", mystring[0])
print("Last character:", mystring[-1])

First character: h
Last character: a

### Q7. Take input from the user and print it.

In [ ]:
input = input("what is your name ? ")
print("my name is Heba", input)

what is your name ? heba
my name is Heba heba

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
from google.colab import widgets

In [ ]:
user_name = input("what is your name ? ")

TypeError: 'str' object is not callable

In [45]:
del input
 x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
sum = x + y
print("The sum is:", sum)

IndentationError: unexpected indent (ipython-input-45-3393353965.py, line 2)

TypeError: 'str' object is not callable

### Q9. Use `type()` function to check the data type of a variable.

In [ ]:
x = 555
print("Type of x:", type(x))

Type of x: <class 'int'>

### Q10. Create a boolean variable and print it.

In [ ]:
student = True
print("Boolean variable:", student)

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [ ]:
num = int(input(100 ))

if num > 0:
    print(5)
elif num < 0:
    print(-1)
else:
    print(0)

### Q12. Write a program to check if a number is even or odd.

In [ ]:
num = int(input(100))

if num % 2 == 0:
    print(4)
else:
    print(1)

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [ ]:
for i in range(3):
    print("Heba")

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [ ]:
for i in range(1, 11):
    print(i)

### Q15. Use a `for` loop to iterate over a list and print each element.

In [ ]:
list = [10, 20, 30, 40, 50]

for item in list:
    print(item)

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
total = 0
for i in range(1, 101):
    total += i
print("The sum is:", total)

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [35]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [ ]:
text = "AI"

for char in text:
    print(char)

### Q19. Use a `for` loop to print all values in a dictionary.

In [ ]:
my_dict = {"name": "Heba", "age": 21, "country": "Egypt"}

for value in my_dict.values():
    print(value)

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:
num = 4
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial:", factorial)

### Q21. Create a list of your 5 favorite fruits.

In [ ]:
favorite_fruits = ["Mango", "Strawberry", "Banana", "Apple", "Pineapple"]

print("My 5 favorite fruits are:")
for fruit in favorite_fruits:
    print("-", fruit)

### Q22. Add a new fruit to your list of favorite fruits.

In [ ]:
favorite_fruits = ["Mango", "Strawberry", "Banana", "Apple", "Pineapple"]
favorite_fruits.append("Grapes")

print("My favorite fruits are now:")
for fruit in favorite_fruits:
    print("-", fruit)

### Q23. Remove the second item from a list.

In [ ]:
favorite_fruits = ["Mango", "Strawberry", "Banana", "Apple", "Pineapple"]

del favorite_fruits[1]

print("Fruits after removing the second item:")
for fruit in favorite_fruits:
    print("-", fruit)

### Q24. Sort a list of numbers in descending order.

In [ ]:
numbers = [10, 15, 20, 15,17]
numbers.sort(reverse=True)
print("Sorted list (descending):", numbers)

### Q25. Find the maximum and minimum values in a list.

In [ ]:
numbers = [12, 17, 5, 13, 18]

maximum = max(numbers)
minimum = min(numbers)
print("Maximum number:", maximum)
print("Minimum number:", minimum)

### Q26. Count how many times a value appears in a list.

In [ ]:
fruits = ["Apple", "Banana", "Apple", "Mango", "Apple"]

count_apples = fruits.count("Apple")

print("Apple appears:", count_apples, "times")

### Q27. Check if a specific value exists in a list.

In [ ]:
if "Orange" in fruits:
    print("Orange is in the list.")
else:
    print("Orange is not in the list.")

### Q28. Reverse a list without using reverse() function.

In [ ]:
my_list = [1, 2, 3, 4, 5]
# عكس باستخدام slicing
print(my_list[::-1])

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
copy_list = [item for item in original]

### Q30. Use slicing to get the first 3 items of a list.

In [ ]:
my_list = [50, 60, 70, 80, 900]
first_three = my_list[:3]
print(first_three)

### Q31. Create a tuple with 4 elements and print its length.

In [ ]:
my_tuple = (5, 6, 7, 8)
print(len(my_tuple))

### Q32. Access the last element of a tuple.

In [ ]:
my_tuple = (50, 60, 70, 80)
last_element = my_tuple[-1]
print(last_element)

### Q33. Convert a tuple into a list.

In [ ]:
my_tuple = (5, 6, 7, 8)
my_list = list(my_tuple)
print(my_list)

### Q34. Convert a list into a tuple.

In [ ]:
my_list = [5, 6, 7, 8]
my_tuple = tuple(my_list)
print(my_tuple)

### Q35. Check if a value exists in a tuple.

In [44]:
my_tuple = (50, 60, 70, 80)
if 70 in my_tuple:
    print("Yes, 70 is in the tuple")
else:
    print("No, 70 is not in the tuple")

Yes, 70 is in the tuple

### Q36. Concatenate two tuples.

In [ ]:
tuple1 = (5, 6, 7)
tuple2 = (8, 9, 10)

result = tuple1 + tuple2
print(result)

### Q37. Repeat a tuple 3 times.

In [ ]:
my_tuple = (5, 6)
repeated_tuple = my_tuple * 11
print(repeated_tuple)

### Q38. Find the index of an element in a tuple.

In [ ]:
my_tuple = (50, 60, 70, 80)

index = my_tuple.index(70)
print("Index of 70 is:", index)

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:
my_tuple = (50, 60, 70)

a, b, c = my_tuple

print("a =", a)
print("b =", b)
print("c =", c)

### Q40. Create a nested list and access an inner element.

In [ ]:
nested_list = [[5, 6], [7, 8], [9, 10]]

element = nested_list[5][5]

print("Element:", element)

### Q41. Create a set of 5 unique colors.

In [ ]:
colors = {"red", "blue", "green", "yellow", "purple"}
print(colors)

### Q42. Add a new color to the set.

In [ ]:
colors = {"red", "blue", "green", "yellow", "purple"}

colors.add("orange")
print(colors)

### Q43. Remove an item from the set using `remove()`.

In [36]:
colors = {"red", "blue", "green", "yellow", "purple"}

colors.remove("blue")
print(colors)

{'yellow', 'purple', 'red', 'green'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:
colors = {"red", "blue", "green", "yellow", "purple"}

colors.discard("black")
print(colors)

### Q45. Create a set from a list with duplicate values.

In [ ]:
my_list = ["red", "blue", "red", "green", "blue"]
unique_colors = set(my_list)

print(unique_colors)

### Q46. Find the union of two sets.

In [ ]:
set1 = {"red", "blue", "green"}
set2 = {"yellow", "green", "purple"}

union_set = set1.union(set2)


print(union_set)

### Q47. Find the intersection of two sets.

In [ ]:
set1 = {"red", "blue", "green"}
set2 = {"green", "yellow", "purple"}

# Using intersection() method
common_colors = set1.intersection(set2)

# Or using & operator: common_colors = set1 & set2

print(common_colors)

### Q48. Find the difference between two sets.

In [43]:
set1 = {"red", "blue", "green"}
set2 = {"green", "yellow", "purple"}

common_colors = set1.intersection(set2)


print(common_colors)

{'green'}

### Q49. Check if a set is a subset of another set.

In [42]:
set1 = {"red", "blue"}
set2 = {"red", "blue", "green", "yellow"}

is_subset = set1.issubset(set2)

print(is_subset)

True

### Q50. Check if two sets are disjoint.

In [41]:
set1 = {"red", "blue"}
set2 = {"green", "yellow"}

# Check if they are disjoint
are_disjoint = set1.isdisjoint(set2)

print(are_disjoint)

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [40]:
person = {
    "name": "Heba",
    "age": 25,
    "city": "Cairo"
}

print(person)

{'name': 'Heba', 'age': 25, 'city': 'Cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [39]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "Cairo"
}

person["job"] = "Engineer"

print(person)

{'name': 'Alice', 'age': 25, 'city': 'Cairo', 'job': 'Engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [38]:
person = {
    "name": "Heba",
    "age": 25,
    "city": "Cairo"
}

person["age"] = 30
print(person)

{'name': 'Heba', 'age': 30, 'city': 'Cairo'}

### Q55. Check if a key exists in the dictionary.

In [9]:
my_dict = {"name": "Heba", "age": 21, "city": "Cairo"}

if "age" in my_dict:
    print("Key exists!")
else:
    print("Key not found.")

Key exists!

### Q56. Loop through a dictionary and print all keys and values.

In [8]:
my_dict = {"name": "Heba", "age": 21, "city": "Cairo"}

for key, value in my_dict.items():
    print(key, ":", value)

name : Heba
age : 21
city : Cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [7]:
my_dict = {"name": "Heba", "age": 21, "city": "Cairo"}

for key in my_dict.keys():
    print(key)

name
age
city

### Q58. Get all values from a dictionary using `values()`.

In [6]:
my_dict = {"name": "Heba", "age": 21, "city": "Cairo"}

for value in my_dict.values():
    print(value)

Heba
21
Cairo

### Q59. Get all key-value pairs using `items()`.

In [5]:
dict = {"name": "Heba", "age": 21, "city": "Cairo"}
for key, value in dict.items():
    print(key, ":", value)

name : Heba
age : 21
city : Cairo

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [4]:

keys = ["name", "age", "city"]
values = ["Heba", 21, "Cairo"]

dict = dict(zip(keys, values))
print(dict)

{'name': 'Heba', 'age': 21, 'city': 'Cairo'}